@charset "UTF-8";  

:root {
	background-color: white;
	font-family: "Arial", "Serif", "Mono";
	font-size: 30px;
	color: black;
	}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	--head-text-color: black;
	font-family: "Fantasy", "Sans-Serif", "Mono;
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

/* Links */
a: {}
a:focus {}
a:hover {}
a:active {}
a:visited {}

/* Paragraphs */
p {
	text-indent: 4em;
}

/* Skip Links */
.skip {
	
}

.top {
	
}

img {
	hover: none;
	border: none;
}



/* Wrapper */
.wrap {
	--wrap-bg-color: lightsteelblue;
	margin: 0%, 10%, 0%, 10%
	padding: 3em;
	}

/* Page Heading */
.ph {
	--ph-bg: lightgrey;
	--ph-skip: transparent;
	--ph-name: transparent;
	--ph-crumb: transparent;
	}

	/* Page Name */
	.name {
		text-align: center;
	}

	/* Page Breadcrumb Trail */
	.crumb {
		text-align: center;
	}

/* Page Contents */
.contents {
	--con-bg: white;
	--con-head: lightgrey;
	--con-foot: lightgrey;
	padding: 1em;
}
	
	.con-head {
		padding: 1em;
	}

	.con-foot {
		padding: 1em;
	}

/* Page Introduction */
.introduction {
	--intro-bg: white;
	--intro--head-bg: lightgrey;
	--intro-foot-bg: lightgrey;
	padding: 1em;	
}

	.intro-head {
		padding: 1em;
	}

	.intro-foot {
		padding: 1em;
	}

/* Main Content */
.main {
	--main-bg: white;
	--main-head: lightgrey;
	--main-foot: lightgrey;
	padding: 1em;
}

/* Topics */
.topic {
	background-color: white;
	--topic-head-bg: lightgrey;
	--topic-foot-bg: lightgrey;
	--topic-fig: transparent;
	padding: 1em;
}

	.topic-head {
		padding: 1em;
	}

	.topic-foot {
		padding: 1em;
	}

	.topic-fig {
		padding: 1em;
	}

footer {
	--foot-head-bg: lightgrey;
	--foot-foot-bg: lightgrey;
	--foot-1-bg: transparent;
	--foot-2-bg: transparent;
	--foot-3-bg: transparent;
	--foot-4-bg: transparent;
	background-color: white;
}
	
	.foot-head {
		
	}
	
	.foot-foot {
		
	}
	
	.foot-1 {
		
	}

	.foot-2 {
		
	}

	.foot-3 {
		
	}

	.foot-4 {
		
	}
